@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* font-family: 'Raleway', sans-serif; */

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


body {
	font-family: 'Montserrat', sans-serif;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

a{
	text-decoration: none;
	color: #222;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}

/*item*/
.item{
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
}

.item img{
	transition: 0.5s
}

.detail{
	background-color: #f8f8f8; 
	position: absolute;
	left: 0;
	bottom: -180px;
	width: 100%;
	height: 250px;
	transition: 0.5s;
	
	padding: 0 20px;
	box-sizing: border-box;
}
.item:hover img{
	filter: blur(2px);
}


.item:hover .detail{
	bottom: 0;
}

/* title */

.title{
	border-bottom: 1px solid #ddd;
	/* 자식 요소(.title h2)가 float속성이 들어가 있으므로 오버플로으 히든으로 한다. */
	overflow: hidden;
	margin-bottom: 15px;
}
.title h2{
	font-size: 16px;
	color: #888;
	line-height: 1.2em;
	float: left;
}
.title h2 em{
	font-style: normal;
	display: block;
	color: #000;
	margin-bottom: 5px;
	font-size: 20px;
}

.title .price{
	float: right;
	margin-top: 15px;
	font-size: 20px;
	color: crimson;
}

/* info */
.info{
	position: relative;
		
}
/* size */
.size{
	margin-bottom: 10px;
}
.color label,
.size label{
	display: block;
	margin-bottom: 5px;
}
.size span{
	font-size: 12px;
/* 	background-color: #000;
	color:#fff; */
	margin-right: 5px;
	display: inline-block;
	width: 15px;
	height: 15px;
	text-align: center;
	line-height: 15px;
	transition: 0.5s;
	padding: 2px;
	border-radius: 3px;
	cursor: pointer;
}
.size span.active{
	color: #fff;
	background-color: #000; 
}

/*color*/
.color span{
	border : 1px solid #000;
	width: 17px;
	height: 17px;
	display: inline-block;
	transition: 0.5s;
	cursor: pointer;
	margin-right: 5px;
}
.color span.active,
.color span:hover{
	border-radius: 10px;
	
}
.color span:nth-of-type(1) {
	background-color: #808000;
}
.color span:nth-of-type(2) {
	background-color: #ff1000;
}
.color span:nth-of-type(3) {
	background-color: #3020ff;
}
.color span:nth-of-type(4) {
	background-color: #40ffff;
}
.color span:nth-of-type(5) {
	background-color: #1050ff;
}
.add-cart{
	border:1px solid #ddd;
	width: 100%;
	padding: 7px;
	background-color: #fff;
	cursor: pointer;
	margin-top: 10px;
	outline: none;
}
.add-cart:hover{
	background-color: #000;
	color: #fff;
}

/* like */
.like{
	cursor: pointer;
}

.like:before{
	content: '\f08a';
	font-family: fontawesome;
	position: absolute;
	right: 0;
	top: 0;
}

.like.active:before{
	content: '\f004';
	color: crimson;
}